ul, ul li {
    padding:0;
    margin:0;
    list-style:none;
}
#title{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addnew{
    margin-bottom: 20px;
}
.container{
    width: 1000px;
    height: 450px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    overflow-y: auto;
    display: flex;
}
#sidebar{
    width: 200px;
    /* background: #eae9e9; */
    background: #fff;
    border-right: 1px solid #ccc;
    /* padding: 20px; */
}
.list {
    font-weight: normal;
    font-size: 16px;
    /* margin-bottom: 15px; */
    height: 18px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

/* .list:nth-child(odd) {
    background-color: #f2f2f2;
} */
/* .list:nth-child(even) {
    background-color: #ffffff;
} */
.list a{
    text-decoration: none;
    color: #000;
}
.list a:hover {
    color: #1677ff;
    opacity: 0.6;
}
#editor{
    width: 800px;
    height: 100%;
}
#editorForm{
    padding: 20px;
}
.formitem{
    /* width: 80%; */
    /* height: 40px; */
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
}
.formitem input {
    width: 600px;
    height: 23px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
}
.formitem textarea {
    width: 600px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
}
#addnew {
    background-color: #1677ff;
    border: none;
    width: 100px;
    height: 36px;
    color:#fff;
    margin-top: 20px;
    border-radius: 14px;
    font-size: 14px;
}
.submit button{
    background-color: #1677ff;
    border: none;
    width: 100px;
    height: 36px;
    color:#fff;
    margin-top: 20px;
    border-radius: 14px;
    font-size: 14px;
}
#addnew:hover, .submit button:hover{
    /* background-color: #1677ff; */
    opacity: 0.6;
}

